// font //
$ff-main: 'Manrope', sans-serif;

// font size//
$fs-main: 2.3rem;
$fs-sub: 1.3rem;

// font weight//
$fw-500: 500;
$fw-700: 700;
// color //
$color-main: hsl(217, 19%, 35%);
$color-sub: hsl(214, 17%, 51%);
$color-bg: hsl(212, 23%, 69%);
$color-bg-card: hsl(210, 46%, 95%);





